{% extends "base_generic.html" %}
{#overwrite the sign up button to Log in#}
{% block nav_buttons %}
    <!-- Overwrite the default buttons -->
    <a href="/login" class="button button-primary">Login</a>
{% endblock nav_buttons %}

{% block content %}
  <div style="display: block;">
    <h2 style="text-align: center;">Sign up</h2>
  </div>
  <div style="display: block;">
    <form method="post" style="display: flex; flex-direction: column; align-items: center;">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
      {% for field in form %}
       <div style="margin-bottom: 20px; width: 400px;">
          <div style="display: block; margin-bottom: 10px;"> 
            {{ field.label_tag }}
          </div>
          <div style="display: block; text-align: center;">
            {{ field }}
          </div>
        {% if field.errors %}
      <div class="alert alert-danger" style="width: 400px; z-index: 1;position: relative">
        {{ field.errors }}
      </div>
    {% endif %}
        </div>
      {% endfor %}
      <div style="display: block; width: 400px;justify-content: center;">
        <button type="submit" class="button button-primary" style="text-align:center; width: 400px">Sign up</button>
      </div>
    <div class="footer-links">
        <a href="/login" style="color: darkgrey">Already have an account? Log in</a>
    </div>
    
    </form>
  </div>
    <script>

</script>
{% endblock %}