{% extends "base_generic.html" %}
{% load static %}

{% block nav_buttons %}
    {% if user.is_authenticated %}
{#    diplay Articles and Blog options#}
     <div class="company-name" >
        <a href="/articles" style="text-align: left; font-size: 20px;padding-right: 20px; font-weight: normal">Articles</a>
        <a href="/blog" style="text-align: left; font-size: 20px;padding-right: 20px; font-weight: normal">Blog</a>
    </div>
{#        display create post button and log out button#}
    <a href="/create_post" class="button button-primary" >Upload</a>
    <a href="/logout" class="button button-primary">Log out</a>
    {% else %}
{#        for not authenticated user, display sign up button and log in button#}
    <a href="/register" class="button button-primary">Sign up</a>
    <a href="/login" class="button button-primary">Login</a>
    {% endif %}
{% endblock nav_buttons %}


{% block content %}
    <!-- Latest Articles Section -->
    <section>
    <h2 style="text-align: center">Latest Articles</h2>
    <div class="article-inline-container">
        {% for article in latest_articles %}
        <div class="article-card-inline">
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}">
            {% endif %}
            <div>
                <h3>{{ article.title }}</h3>
                <p>{{ article.content|slice:":100" }}...</p>
                <a class="a-read-more" href="{% url 'post_detail' article.id %}">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

    <!-- Featured Articles Section -->
     <section>
    <h2 style="text-align: center">Featured Articles</h2>
    <div class="article-block-container">
        {% for article in featured_articles %}
        <div class="article-card-block">
            <div>
                <h3>{{ article.title }}</h3>
                <p>{{ article.content|slice:":100" }}...</p>
                <a class="a-read-more" href="{% url 'post_detail' article.id %}">Read More</a>
            </div>
            <div>
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}">
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
         </section>
{% endblock content %}
