{# post detail page to display each post #}
{% extends "base_generic.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <article class="post-detail-container">

    {% if post.image %}
      <div class="post-hero-image">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
      </div>
    {% endif %}

    <header class="post-header">
      <h1>{{ post.title }}</h1>
        <div class="post-meta-likes" style="display: flex; justify-content: center; align-items: center; margin-top: 10px; gap: 20px">
          <p class="post-meta" style="margin: 0px;">🗓️ Published on {{ post.created_at|date:"F d, Y" }}</p>
          <div class="post-likes" style="color: #4CAF50; font-weight: bold; margin: 1px;">👍 {{ post.liked_by.count }} Like{{ post.liked_by.count|pluralize }}
          </div>
        </div>
    </header>

    <div class="post-body">
      {{ post.content|linebreaksbr }}
    </div>

  </article>
{% endblock %}